*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}


header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#home{
   background-color: #1cc7f1;
}

#Mona{
    background-color:#FFFF00 ;
}

#Sad{
     background-color: #1cc7f1;
}

#beast{
     background-color: #FFFF00;
}

#mount{
     background-color: #1cc7f1;
}

h1{
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}

div.Home {
 position: absolute;
 transform: translate(-50%, -50%);
 top: 50%;
 left: 50%;
  border-radius: 25px;
  background-color: #FFFF00;
  box-shadow: 10px 10px 5px 12px rgb(194, 206, 23);
  padding: 20px;
  width: 450px;
  height: 90px;
  text-align: center;
}

#Mona:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}
.Mona {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    top: 50%;
    left: 70%;
    width: 450px;
    height: 400px;
    padding: 80px;
    background-color: rgb(80, 220, 255);
    box-shadow: 10px 10px 5px 12px rgb(13, 117, 117);
    text-align: center;
    flex-direction: row;
  }
  #Mona2:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}
  .Mona2 {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    top: 50%;
    right: 100%;
    width: 450px;
    height: 250px;
    padding: 80px;
    background-color: rgb(80, 220, 255);
    box-shadow: 10px 10px 5px 12px rgb(13, 117, 117);
    text-align: center;
    flex-direction: row;
  }

.gallery {
    position: absolute;
    left: 28%
    }



#Sad:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}
.Sad {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    top: 50%;
    left: 70%;
    width: 450px;
    height: 400px;
    padding: 80px;
    background-color: #FFFF00;
    box-shadow: 10px 10px 5px 12px rgb(194, 206, 23);
    text-align: center;
    flex-direction: row;
}
#Sad2:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}
.Sad2 {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    top: 50%;
    right: 100%;
    width: 450px;
    height: 250px;
    padding: 80px;
    background-color: #FFFF00;
    box-shadow: 10px 10px 5px 12px rgb(194, 206, 23);
    text-align: center;
    flex-direction: row;
}

#beast:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}
.beast {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    top: 50%;
    left: 70%;
    width: 400px;
    height: 250px;
    padding: 80px;
    background-color: rgb(80, 220, 255);
    box-shadow: 10px 10px 5px 12px rgb(13, 117, 117);
    text-align: center;
    flex-direction: row;
}
#beast2:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}
.beast2 {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    top: 50%;
    right: 100%;
    width: 450px;
    height: 250px;
    padding: 80px;
    background-color: rgb(80, 220, 255);
    box-shadow: 10px 10px 5px 12px rgb(13, 117, 117);
    text-align: center;
    flex-direction: row;
}

.mount {
    justify-content: space-around;
  }
.mount2 {
    justify-content: space-around;
  }

#mount:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}
.mount {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    top: 50%;
    left: 70%;
    width: 450px;
    height: 400px;
    padding: 80px;
    background-color: #FFFF00;
    box-shadow: 10px 10px 5px 12px rgb(194, 206, 23);
    text-align: center;
    flex-direction: row;
}
#mount2:hover {
    transform: scale(1.1);
    transition: transform .5s ease;
}
.mount2 {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    top: 50%;
    right: 100%;
    width: 400px;
    height: 250px;
    padding: 80px;
    background-color: #FFFF00;
    box-shadow: 10px 10px 5px 12px rgb(194, 206, 23);
    text-align: center;
    flex-direction: row;
}
